table {
  border-collapse: collapse;
  width: 100%;
  }
  
  table td, table th {
    padding: 8px;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }

  table tr {
    text-align: center
  }
  
/* rounded corners*/
  th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-width: 0px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-width: 0px;
  }
